@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>CRUD Operations Links:</p>

    <p>Create - <a asp-action="Create" asp-controller="Home">Create Computer</a></p>
    <p>Read - <a asp-action="AllComputers" asp-controller="Home">All Computers</a></p>
    <p>Update is inside All Computers</p>
    <p>Delete is inside All Computers</p>
</div>
